!!!
html
  head
    meta(http-equiv='Content-Type', content=‘text/html;charset=utf-8')

    title http.js

    script(type='text/javascript', src='/lib/http.js')

  body
    p Please open your browser's JavaScript console and check out the source of this page.

    script(type='text/javascript').

      var jsonpCallback = function (text) {
        console.log('GET /jsonp: ' + text);
      };

      http.auth('golo', 'golo');

      http.get('/text', function (status, data) {
        console.log('GET /text: ' + status + ' => ' +  data.text());
      });

      http.get('/json', {
        cache: true
      }, function (status, data) {
        console.log('GET /json: ' + status + ' => ' +  JSON.stringify(data.json()));
      });

      http.get('/jsonp', {
        jsonp: 'jsonpCallback'
      });

      http.post('/json', {
        data: {
          foo: 'bar'
        },
        headers: {
          'accept': 'application/json',
          'content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
        }
      }, function (status, data) {
        console.log('POST /json: ' + status + ' => ' +  JSON.stringify(data.json()));
      });

      http.isAllowed('/json', 'GET', function (allowed) {
        console.log('GET /json is allowed:' + allowed)
      });

      http.isAllowed('/json', 'POST', function (allowed) {
        console.log('POST /json is allowed: ' + allowed)
      });

      http.isAllowed('/json', 'PUT', function (allowed) {
        console.log('PUT /json is allowed: ' + allowed)
      });