!!!
html
  head
    meta(http-equiv='Content-Type', content=‘text/html;charset=utf-8')

    title http.js

    script(type='text/javascript', src='https://raw.github.com/goloroden/http.js/master/http.js')

  body
    p Please open your browser's JavaScript console and check out the source of this page.

    script(type='text/javascript').
      http.auth('golo', 'golo');

      http.get('/text', function (status, data) {
        console.log('GET /text: ' + status + ' => ' +  data.text());
      });

      http.get('/json', {
        cache: true
      }, function (status, data) {
        console.log('GET /json: ' + status + ' => ' +  JSON.stringify(data.json()));
      });

      http.post('/json', {
        data: {
          foo: 'bar'
        },
        headers: {
          'accept': 'application/json',
          'content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
        }
      }, function (status, data) {
        console.log('POST /json: ' + status + ' => ' +  JSON.stringify(data.json()));
      });

      http.get('/auth/basic', function (status, data) {
        console.log('GET /auth/basic: ' + status + ' => ' +  data.text());
      });

      http.get('/auth/digest', function (status, data) {
        console.log('GET /auth/digest: ' + status + ' => ' +  data.text());
      });